:root {
    --page-background-color: white;
    --content-background-color: white; /*#e0dbdb*//*#fdfdfd*//*#f3f3f3*/
    --main-font-color: rgb(42, 42, 42);/*#0c0c0c;*/
    --links-font-color: #12343b; 
    --image-shadow-settings: 0 0 6px 3px #141414;
    --image-filter-settings: grayscale(50%);
    --scrollbar-width-setting: thin;
    --scrollbar-color-setting: rgb(164, 164, 165) rgb(202, 202, 202);
    --tab-unclicked-color:#f6f6f6;
    --bottom-border-color:rgb(202, 201, 201);
    --bottom-border-type:inset;
    --bottom-border-size:1px;
    --menu-color:#fdfdfd;
}
body {
    color: var(--main-font-color);
    text-align: center;
    background-size: 100%;
    background-color: var(--page-background-color);
    font-family: "Raleway";/*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"Playfair Display";*/
    margin: 0 auto;
    font-size:14px;
}
div a:hover,a:hover,a p:hover,.header a:hover, .header p a:hover, .nextpreviousbutton:hover, .cataloguelink a, .cataloguebutton:hover,.cataloguelink a:visited:hover{
    color:#52a7bd;
}
.tab1 a:hover, .tab2 a:hover, .tab3 a:hover{
    color:#9e9e9e;
}
#FightsCount, #BoxersCount{
    font-weight: bold;
}
.widescreenmenubar, .linkstopages, .mobilebar, .popupmenu, .featuredfightersspace p,.featuredfightsspace h2, .tab1, .tab2, .tab3, .fighterinfonamespace {
    font-family:"Montserrat";
}
.featuredfightersspaceone p, .featuredfightsspaceone p{
    font-size:16px;
}
.featuredfightersspace span{
    text-align:left;
}
.loadinggifspace{
    margin:0 auto;
    width:100%;
}
.loadinggifspace img{
    height:50px;
    width:50px;
}
.onetitle{
    text-align:left; 
    margin-left:2.5%;
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    padding-bottom:5px;
}
.onetitle p{
    font-size:16px;
}
.onetitle span{
    font-size:12px;
}
.expandpanelbutton{
    margin:0 auto;
    background: none;
    border:none;
    margin-left:100px;
    font-size:16px;
    color:black;
    float:right;
    cursor:pointer;
}
.menuoptionlogo{
    height:20px;
    width:20px;
    margin-left:-5px;
    margin-top:-25px;
}
.errordiv{
    width: 63%;
    background-color: var(--content-background-color); 
    height:150px;
    margin: 0 auto;
    border-radius:5px;
    color:#CE2029;
}
.errorpagemessage{
    grid-column: 1/8;
    grid-row:4/7;
    color:#CE2029;
    background-color: var(--content-background-color); 
}
.errorpagemessage img{
    height:150px;
    width:200px;
}
.errorpagesearch{
    color:black;
}
.errorpagesearchtools{
    margin-top:-5%;
}
.errorpagesearchtools input{
    margin-top:10px;
}
    .errorpagesearchtools button{
        background:none;
        border:none;
        color: var(--links-font-color);
    }
.errorpagelinks{
    text-align: center;
}    
    .errorpagelinks a{
        color: var(--links-font-color);
        padding:5%;
    }    
    .errorpagelinks a:visited{
        color: var(--links-font-color);
    }    
.searchspacegrid{
    background-color: var(--content-background-color); 
    grid-column: 1/8;
    grid-row:1;
    height:165px;   
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows:45px;
}

.searchspacesearchtools input{
    margin-top:5px;
    width:65%;
    border: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
.searchspacesearchtools button{
    background: none;
    border: none;
    color: var(--links-font-color);
}
.searchspacesearchtools{
    grid-column: 1/8;
    grid-row:2;
}
.searchspacemessage{
    grid-column: 1/8;
    grid-row:3;
}
#SearchTerm{
    font-weight:bold;
}
.searchresultsgrid{
    margin-top:15px;
    grid-column: 2/7;
    display:grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    background-color: var(--content-background-color);  
}
.searchresultsgrid a{
    color: var(--links-font-color);
    text-decoration: none;
}
.searchresultsgridchild{
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    color:var(--links-font-color);
}
.searchresultsgridchildimg img{
    height:110px;
    width:110px;
    margin-top:10px;
    -webkit-filter: var(--image-filter-settings);
    filter: var(--image-filter-settings);
    -webkit-box-shadow: var(--image-shadow-settings);
    box-shadow: var(--image-shadow-settings);
}
.mobilebar{
    top:0;
    width:100%;
    height:30px;
    border-bottom: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    background-color: var(--menu-color);
    position:fixed;
    z-index: 6;
}
.mobilebarlogo{
    height:30px;
    width:90px;
    float:left;
}
.mobilebar input{
    margin:0 auto;
    margin-top:5px;
}
.mobilebar button{
    margin:0 auto;
    margin-top:6px;
    background: none;
    border: none;
    color: var(--links-font-color);
}
.mobileheader {
    top: 0;
    object-fit: cover;
    padding: 1px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(5px, auto));
    grid-gap: 2px;
    border-bottom: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    background-color: var(--menu-color);
    width:100%;
    height:80px;
    position:fixed;
    z-index:6;
}
.mobileheaderone {
    grid-column: 1 / 2;
    grid-row: 1/3;
    align-items: stretch;
    justify-items: left;
    z-index: 5;
    color: var(--main-font-color);
}
.mobiletitle{
    font-size:18px;
}
.mobileheadertwo {
    grid-column: 1 / 6;
    grid-row: 1/2;
    align-items: stretch;
    justify-items: left;
}

.mobileheaderthree {
    grid-column: 2 / 5;
    grid-row: 2/3;
    align-items: stretch;
    justify-items: left;
}
.mobileheaderfour{
    grid-column: 1 / 6;
    grid-row: 3/4;
    align-items: stretch;
    justify-items: left;
    display:none;
}
.mobileheader p{
    text-align:center;
}
.mobileheader img{
    height:100px;
    width:200px;
}
.menubutton{
    float:left;
    font-size:22px;
}
#backgroundwrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    object-fit:cover;
}
#content {
    margin-top:50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: minmax(150px, auto) 10px minmax(150px, auto) 10px minmax(150px, auto) 10px minmax(150px, auto) 10px minmax(150px, auto) 10px minmax(150px, auto);
    grid-template-rows: repeat(25, minmax(15px, auto));
    grid-gap: 2px;
}
.polaroid {
    border: none;
}
.quotesspace{
    grid-column: 1/9;
    grid-row: 18;
    border-top:var(--bottom-border-size) outset var(--bottom-border-color);
}
.featuredfightersspace, .featuredfightsspace, .sevenlink a{
    font-size:12px;
}
.featuredfightersspace {
    margin-top: 15px;
    grid-column: 1 / 9;
    grid-row: 1/3;
    display: grid;
    grid-gap:5px;
    grid-template-columns: repeat(1, 1fr);  
}
.featuredfightersspaceone {
    grid-row: 1;
    text-align: left;
    padding-left: 10px;
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
.featuredfightersspacetwo {
    grid-row: 2;
    overflow: scroll;
    white-space: nowrap;
    z-index: 1;
    padding-left: 10px;
    scrollbar-color: var(--scrollbar-color-setting);
    scrollbar-width: var(--scrollbar-width-setting);
    -webkit-scrollbar-width:2px;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}
.featuredfightersspacetwo.slide{
    height:0%;
    width:0%;
}
::-webkit-scrollbar {
    width: 1px;
    height:8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(202, 202, 202);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(164, 164, 165);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 232, 232); 
  }

.featuredfightersspacethree {
    grid-row: 3;
    text-align:left;
    padding-bottom:10px;
    padding-left:10px;
}
.featuredfightsspace img, .featuredfightersspace img {
    width: 85px;
    height: 85px;
    -webkit-filter: var(--image-filter-settings);
    filter: var(--image-filter-settings);
    -webkit-box-shadow: var(--image-shadow-settings);
    box-shadow: var(--image-shadow-settings);
    margin-right: 1.5%;
    margin-bottom: 2%;
}
    .featuredfightersspace a, .featuredfightsspace a {
        text-decoration: underline;
        text-align:left;
        color: var(--links-font-color);
    }
    .featuredfighterimages{
        width:700px;
        
    }
.featuredfightersspace a:visited, .featuredfightsspace a:visited {
    color: var(--links-font-color);
}

.featuredfightsspace {
    grid-column: 1 / 9;
    grid-row: 4/6;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    background-color: var(--content-background-color);
}
.featuredfightsspaceone {
    grid-row: 1;
    text-align: left;
    padding-left: 10px;
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}

.featuredfightsspacetwo {
    grid-row: 2;
    overflow: scroll;
    white-space: nowrap;
    z-index: 1;
    padding-left: 10px;
    scrollbar-color: var(--scrollbar-color-setting);
    scrollbar-width: var(--scrollbar-width-setting);
}

.featuredfightsspacethree {
    grid-row: 3;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}
.one {
    grid-column: 1 / 9;
    grid-row: 7/9;
    line-height: 1;
    background-color: var(--content-background-color);
}
.one h2{
    text-align: left;
    font-size:16px;

}
.oneheader{
    text-align: left;
    font-size:16px;
}
.onesubheader{
    text-align: left;
}
.two {
    grid-column: 1/ 9;
 
}
.three {
    grid-column: 1 / 4;
    grid-row: 9 / 11;
    margin-top: 10px;
    background-color: var(--content-background-color);
}

.four {
    grid-column: 5 / 9;
    grid-row: 9 / 11;
    margin-top: 10px;
    background-color: var(--content-background-color);
    width:100%;
}

.five {
    grid-column: 5 / 9;
    grid-row: 11 / 13;
    background-color: var(--content-background-color);
}
.six {
    grid-column: 1 / 4;
    grid-row: 11 / 13;
    background-color: var(--content-background-color);
}
/* .five, .six{
    font-size:10px;
} */

.seven {
    grid-column: 1 / 8;
    grid-row: 14;
    text-align: left;
}
.seven a{
    color:var(--links-font-color);
    
}
.sevenlink{
    margin-left:1.5%;
    margin-top:5px;
}
.previousbuttonspace {
    grid-column: 1 / 4;
    grid-row: 8/9;
    margin-top:30%;
    width:70%;
    z-index:2;
}
.nextbuttonspace {
    grid-column: 5 / 8;
    grid-row: 8/9;
    margin-top: 30%;
    width: 70%;
    text-align: right;
    z-index: 2;
    margin-left:30%;
}
.nextpreviousbutton {
    width: 100%;
    border: none;
    background-color: var(--content-background-color);
    color: var(--links-font-color);
    margin-top: 105px;
    font-size:20px;
}
.widescreenmenubar{
    display: none;
}
.linkstopages{
    display:none;
}
body footer{
    display:none;
}
table {
    background-color: var(--content-background-color);
    border-collapse: collapse;
}

th {
    text-align: center;
}

tr {
    text-align: left;
}
.statstable {
    width: 100%;
    border:none;
    font-size:12px;
}
/* .statstable tr{
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
} */
    .statslabelcell{
        width:45%;
        font-weight: bold;
        font-size:10px;
    }
/* .statsgrid{
    display:grid;
    grid-template-columns: 3(1fr);
    grid-auto-rows: 10px;
}
.statsgridagelabel{
    grid-column: 1;
}
.statsgridagevalue{
    grid-column: 2/3;
    text-align:left;
} */
.last5headercell{
text-align: center;
}
.last5contentcell{
    text-align: center;
}
.last5contentrow{
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
#Last5TableA td, #Last5TableB td{
    padding:1%;
}
.frontfaceimg {
    height: 130px;
    width: 110px;
    -webkit-filter: var(--image-filter-settings);
    filter: var(--image-filter-settings);
    border-radius: 2px;
    -webkit-box-shadow: var(--image-shadow-settings);
    box-shadow: var(--image-shadow-settings);
    /* margin-left:-2%; */
    margin-top:2%;
}

.fighterbuttonimageMin {
    display: none;
    background-color: transparent;
    border: none;
    object-fit: cover;
}
.fighterbuttonimageFull {
    object-fit: cover;
    background-color: transparent;
    border:none;
}
.resultcard {
    border-radius: 15px;
    -webkit-box-shadow: 0 0 6px 3px #141414 inset;
    box-shadow: 0 0 6px 3px #141414;
    display: none;
}
.resultbutton {
    width: 80%;
    height: 35px;
    border-radius: 15px;
    border: thin black;
    background-color: var(--content-background-color);
    object-fit: cover;
    color: black;
}
.popupmenu {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    background-color: var(--menu-color);
    padding-top: 60px;
    display: none;
}
.mobilemenulinks{
    margin-top:15px;
}
.mobilelogo{
    height:100px;
    width:150px;
    margin-top:-20px;
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
    .mobilemenulink{
        width:100%;
        height:25px;
        padding-top:8px;
        padding-bottom:2px;
    }
    .mobilemenulink p{
        margin:0 auto;
        float:left;
        margin-left:15px;
    }
    #mobilemenulinkLast{
        margin-top:10px;
        border-top:var(--bottom-border-size) outset var(--bottom-border-color);
        padding-bottom:10px;
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    }
    #mobileAboutLink{
        margin-top:15px;
    }
    .popupmenu a {
        /*padding: 2% 14% 14% 0%;*/
        text-decoration: none;
        display: block;
        color: var(--links-font-color);
    }
        .popupmenu a:visited {
            color: var(--links-font-color);
        }
    .popupmenu input {
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
        border-radius: 4px;
        box-sizing: border-box;
        width: 75%;
        margin-top:5px;
    }
    .popupmenu button {
       background: none;
        border: none;
        color: var(--links-font-color);
    }
    /* .popupmenu img{
        height:25%;
        width:100%;
        margin-top:-20px;
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    } */
    /* .popupmenu .closebtn {
        position: absolute;
        top: 0;
        right: 5px;
        margin-left: 50px;
        color: var(--main-font-color);
    }
.popupmenulinks{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows:25px;
    padding-top:15px;
    padding-left:2px;
    text-align: left;
    grid-gap:20px;
}
.popupmenulink1{
    grid-row:1;
}
.popupmenulink2{
    grid-row:2;
}
.popupmenulink3{
    grid-row:3;
}
.popupmenulink4{
    grid-row:4;
} */
.mobileslogan {
    font-style: italic;
}
.fightername {
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
.cataloguebutton{
    font-size:20px;
}
.cataloguepagelink{
    font-size:18px;
}
.cataloguegrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1px;
    grid-auto-rows: 230px;
    width:80%;
    margin: 0 auto;
}
.catalogueentry {
    background-color: var(--content-background-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
    .catalogueentry img {
        height: 150px;
        width: 150px;
        -webkit-filter: var(--image-filter-settings);
        filter: var(--image-filter-settings);
        border-radius: 2px;
        -webkit-box-shadow: var(--image-shadow-settings);
        box-shadow: var(--image-shadow-settings);
    }
.cataloguefilters {
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    margin-bottom: 5%;
    background-color: var(--content-background-color);
    padding-top: 1px;
}
.catalogueentry a {
    color: var(--links-font-color);
    text-decoration: none;
}
.countryflagimgcatalogue{
    height:25px;
    vertical-align: middle;
    padding-left:5px;
}
.countryflagfightercard{
    height:15px;
    vertical-align: middle;
}
.linktofightercataloguetable{
    cursor:pointer;
}
.cataloguebutton{
    margin-right:5px;
    margin-right:5px;
    background: none;
    border:none;
    color: var(--links-font-color);
}
.cataloguetable{
    margin:0 auto;
    width:80%;
    font-size:12px;
}
.cataloguetable a{
    color: var(--links-font-color);
    text-decoration: none;
}
.cataloguetablerow td{
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    color: var(--links-font-color);
}
.cataloguetableheading{
    text-align:left;
}
.cataloguetableheadingrow{
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    border-width:100% !important;

}
.filterlink {
    color: var(--links-font-color);
}
.filtermenu {
    width: 150px;
    height: 220px;
    position: absolute;
    margin-left: 37%;
    margin-top: -15px;
    z-index: 2;
    background-color: var(--content-background-color);
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    border-right: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
    .filtermenu ul {
        list-style: none;
        list-style-type: none;
    }
    .filtermenu .closebtn {
        float: right;
        color: var(--links-font-color);
        margin-top: -5px;
    }
    .filtermenu li {
        margin-left: -15px;
        margin-bottom: 5px;
        text-align: left;
        color: var(--links-font-color);
        cursor:pointer;
    }
.filterweightmenu {
    width: 150px;
    height: 220px;
    position: absolute;
    margin-left: 43%;
    margin-top: -3%;
    z-index: 2;
    background-color: var(--content-background-color);
    display: none;
    overflow-y: scroll;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    border-right: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
    .filterweightmenu ul {
        list-style: none;
        list-style-type: none;

    }

    .filterweightmenu .closebtn {
        float: right;
        color: black;
        margin-top: -5px;
    }

    .filterweightmenu li {
        margin-left: -15px;
        margin-bottom: 5px;
        text-align: left;
        cursor:pointer;
        color: var(--links-font-color);
    }
.filtergendermenu {
    width: 150px;
    height: 220px;
    position: absolute;
    margin-left: 36%;
    margin-top: -3%;
    z-index: 2;
    background-color: var(--content-background-color);
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    border-right: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}

    .filtergendermenu ul {
        list-style: none;
        list-style-type: none;
    }

    .filtergendermenu .closebtn {
        float: right;
        color: black;
        margin-top: -5px;
    }

    .filtergendermenu li {
        margin-left: -15px;
        margin-bottom: 5px;
        text-align: left;
        color: var(--links-font-color);
        cursor:pointer;
    }
.jumptopbuttonspace {
    width: 50px;
    padding:5px;
    position: fixed;
    right: 5px;
    bottom: 30px;
    background-color: var(--menu-color);
    z-index: 999999999;
    display: none;
    opacity: 0.8;
    border-top-left-radius: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 25px;
}
.jumptopbutton {
    background: none;
    color: black;
    border: none;
    margin: 0 auto;
}
.pagename{
    margin-bottom:0%;
    cursor:pointer;
}
.fighterinfogrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto-fill, 120px);
    grid-gap: 2px;
    margin-top:35px;
}
.fighterinfoimagespace {
    grid-column: 1 / 8;
    grid-row: 1/8;
    margin-top: 35px;
    background-color: var(--content-background-color);
    margin-bottom: -1%;
}
    .fighterinfoimagespace img {
        height: 200px;
        width: 200px;
        -webkit-filter: var(--image-filter-settings);
        filter: var(--image-filter-settings);
        -webkit-box-shadow: var(--image-shadow-settings);
        box-shadow: var(--image-shadow-settings);
        margin-top:15px;
    }

.fighterinfonamespace {
    grid-column: 1 / 8;
    grid-row: 8;
}
.fighterinforecordspace {
    grid-column: 2 / 7;
    grid-row: 9;
    padding-bottom: 2%;
}
.fighterinforecordtable {
    width: 100%;
    text-align: center;
    height: 50px;
}
    .fighterinforecordtable td {
        text-align: center;
        width: 33.333%;
    }
#fighterAInfoWins, #fighterBInfoWins, #fighterInfoWins, #fighterInfoWinsCss, .totalwins{
    color:green;
}
#fighterAInfoLosses, #fighterBInfoLosses, #fighterInfoLosses, #fighterInfoLossesCss, .totallosses{
    color:	#CE2029;
}
#fighterAInfoDraws, #fighterBInfoDraws, #fighterInfoDraws, #fighterInfoDrawsCss, .totaldraws{
    color:#2d545e;
}
#fighterInfoWins, #fighterInfoLosses, #fighterInfoDraws{
    font-weight: bold;
}
.tab1, .tab2, .tab3 {
    background-color: var(--tab-unclicked-color);
    cursor: pointer;
}
.tab1 {
    grid-column: 1/3;
    grid-row: 10;
    background-color: var(--content-background-color);
    border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
.tab1 a, .tab2 a, .tab3 a{
    display:block;
}
.tab2 {
    grid-column: 3/6;
    grid-row: 10;
}
.tab3{
    grid-column:6/8;
    grid-row:10;
}
.fighterinfotextspace {
    grid-column: 1/8;
    grid-row: 11;
    text-align: left;
    background-color: var(--content-background-color);
}

.fighterinfohistoryspace {
    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 35px;
    grid-gap:2px;
    text-align: center;
}
    .fighterinfohistoryspaceHeader{
        font-weight:bold;
        height:35px;
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
        border-right:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    }
    #fighterinfohistoryspaceHeaderLast{
        border-right:none;
    }
    .fighterinfohistoryspaceContent{
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
        border-right:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    }
    .fighterinfohistoryspacetable{
        width:100%;
        font-size:10px;
    }
    .fighterinfohistoryspacetableheaderrow{
        font-weight:bold;
        font-style: italic;
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    }
    .fighthistorytablerow{
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    }
    /* .fighthistorytablerow .fighterhistorytablecell:last-child{
        border-right:none;
    } */
    /* .fighthistorytablecell{
        border-right:1px ridge gray;
    } */
    .fighthistorytablecelllink{
        color: var(--links-font-color);
    }
.fighterinfobiospace{
    display:none;
}

.fighterinfostatsspace{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 15px;
    grid-gap:2px;
    padding-top:5px;
}
    .fighterinfostatsspaceHeader{
        grid-column: 1;
        font-weight: bold;
        font-size:12px;
    }
    .fighterinfostatsspaceContent{
        grid-column:2/5;
    }
.previousfighterbuttonspace {
    grid-column: 1/3;
    grid-row: 12;
}
.previousfighterbutton {
    background: none;
    border: none;
    color: var(--links-font-color);
    margin-top: 1%;
}
.nextfighterbuttonspace {
    grid-column: 6/8;
    grid-row: 12;
}
.nextfighterbutton {
    background: none;
    border: none;
    color: var(--links-font-color);
    margin-top: 1%;
}
.fighterrecordtable {
    width: 100%;
}
.fighterrecord {
    width: 100%;
    background-color: var(--content-background-color);
    border: none;
}
    .fighterrecord td {
        text-align: center;
        width: 33.333%;
        border: none;
    }
    .fighterrecord tr {
        border: none;
    }
    .fighterrecord th {
        border: none;
    }
.fighterinfobiospace {
    background-color: var(--content-background-color);
}
.fighterinfonamespace {
    background-color: var(--content-background-color);
    margin-bottom: -1%;
}
.pagedescription {
    margin-top:30px;
    background-color: var(--content-background-color);
    padding-bottom: 1px;
    padding-top: 1px;
    border-bottom: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
}
.footer {
    grid-column: 1/9;
    grid-row: 35;
    background-color: #e0dbdb;
}
.toFighterLink{
    text-decoration: underline;
    color: var(--links-font-color);
    cursor:pointer;
    font-size:12px; 
}
.last5gridLabel{
    margin-top:5px; 
    font-weight: bold;
    font-size:12px;
}
.countryflagimgsearch{
    height:30px;
    width:30px;
}
.last5box{
    width:5px;
    height:5px;
    float:left;
    margin-left:1px;
    display:none;
}
#CatalogueTableLast5{
    display:none;
}
.fightercardresultbox{
    width:15px;
    height:15px;
    border-radius:2px;
    text-align: center;
    float:left;
    color:white;
    margin-right:2px;
}
.last5contentcell .fightercardresultbox{
        float:initial;
        margin:0 auto;
}
.cataloguepagebuttons{
    width:50%;
    margin:0 auto;
    margin-bottom:10px;
}
    .cataloguepagebuttons a{
        color: var(--links-font-color);
        cursor:pointer;
        padding:1%;
        text-decoration: underline;
    }
    .cataloguepagebuttons a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .cataloguepagebuttons a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }
#dotsahead, #dotsbehind{
    text-decoration: none;
}
#fighterALink, #fighterBLink{
    text-decoration: none;
    color:var(--links-font-color);
}
.apipagegrid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows:auto;
    margin-top:30px;
}
.instructionsheader{
    grid-column: 1/13;
    grid-row:1;
}
.instructionstext{
    grid-column: 2/6;
    grid-row:2; 
    text-align: left;
}
.instructionsrequirements{
    grid-column: 7/12;
    grid-row:2; 
    text-align: left;
}
.instructionsrequirements a{
    color: var(--links-font-color);
}
.instructionsrequirements img{
    height:90px;
    width:120px;
}
.instructionsrequirementslogo{
    text-align:center;
}

 .instructionslicensing h3, .instructionsrequirements h3, .instructionsrequirements h4{
    text-align: center;
}
.instructionsdonate{
    border-top:var(--bottom-border-size) outset var(--bottom-border-color);
    grid-column: 2/8;
    grid-row:5; 
    text-align: left;
}
.instructionsdonateimg{
    border-top:var(--bottom-border-size) outset var(--bottom-border-color);
    grid-column: 8/12;
    grid-row:5/6; 
    text-align: left;
}
.instructionsdonate img{
    height:70px;
    width:120px;
}
.instructionsdonate button{
    justify-self: center;
    background: none;
    border: none;
    color: var(--links-font-color);
}
.instructionslicensing{
    margin-top:15px;
    border-top:var(--bottom-border-size) outset var(--bottom-border-color);
    grid-column: 2/12;
    grid-row:8; 
    text-align: left;
}
@media only screen and (min-width: 360px){
    .fighterinfohistoryspacetable{
        font-size:12px;
    }
}
@media only screen and (min-width: 430px) {
    .onetitle p{
        font-size:18px;
    }
    .onetitle span{
        font-size:14px;
    }
    .featuredfightersspaceone p, .featuredfightsspaceone p{
        font-size:18px;
    }
    .cataloguetable{
        font-size: 14px;
    }
    .pagedescription {
        margin-top:40px;
    }
    .fighterinfohistoryspacetable{
        font-size:14px;
    }
    .mobileheader{
        height:100px;
    }
    .mobileheaderfour{
        display:block;
    }
    .mobileheaderfour input{
        width:40%;
        background-color: #ffffff;
        border: var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
        border-radius: 2px;
    }
    .mobileheaderfour button{
        background:none;
        border:none;
        color: var(--links-font-color);
    }
    #mobilemenulinkLast{
        border-bottom:none;
    }
    #mobileAboutLink{
        margin-top:-30px;
    }
    .popupmenu input {
        display:none;
    }
    .popupmenu {
        width: 250px;
    }
    .mobilelogo{
        border-bottom: none;
    }
    #content {
        display: grid;
        grid-template-columns: auto, 1fr;
        grid-template-rows: repeat(auto-fill, 10px);
        grid-gap: 10px;
    }

    .last5table {
        width: 100%;
        border-collapse:collapse;
    }

    .statstable{
        width:100%;
    }
    .fighterbuttonimageMin {
        margin: 0 auto;
    }
    .fighterbuttonimageFull{
        margin:0 auto;
    }
    .filtermenu {
        margin-left: 44%;
        margin-top: -15px;
    }
    .filterweightmenu {
        margin-left: 46%;
        margin-top: -2%;
    }
    .filtergendermenu {
        margin-left: 43%;
        margin-top: -2%;
    }
    .cataloguegrid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        grid-auto-rows: 180px;
    }
    .catalogueentry img{
        height:130px;
        width:130px;
    }
    .featuredfightsspace img, .featuredfightersspace img {
        width: 100px;
        height: 100px;
    }
    .frontfaceimg{
        height:150px;
        width:150px;
    }
    .nextpreviousbutton {
        margin-top: 55%;
    }
    .searchresultsgrid{
        grid-row:16;

    }
    .searchresultsgridchildimg img{
        height:110px;
        width:110px;
    }
    .last5box{
        width:10px;
        height:10px;
        display:block;
    }
    #CatalogueTableLast5{
        display:block;
    }
    .errorpagemessage{
        grid-column: 2/7;
        grid-row:4/8;
    }
    .fightercardresultbox{
        width:20px;
        height:20px;
        margin-right:5px;
        border-radius:5px;
    }
    .fighterinforecordspace {
        grid-column: 2 / 7;
    }
}

@media only screen and (min-width: 640px) {
    .onetitle{ 
        margin-left:1.5%;
    }
    #searchFieldMobileDefault{
        width:250px;
    }
    .cataloguegrid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 220px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .catalogueentry img {
        height: 130px;
        width: 130px;
    }
    .nextpreviousbutton {
        margin-top: 35%;
    }
    .searchspacesearchtools input{
        width:55%;
    }
    .cataloguetablerecord{
        width:100px !important;
    }
    .cataloguetabledivision{
        width:130px !important;
    }
    .cataloguetablelast5{
        width:150px !important;
    }

    .searchresultsgridlink{
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 90px;
        grid-gap:0px;
        margin-top:25px;
    }
    .searchresultsgridchildimg, .searchresultsparagraph{
        cursor: pointer;
    }
    .searchresultsgridchildimg img{
        height:130px;
        width:130px;
        grid-column: 1/3;
        grid-row:1/3;
    }
    .searchresultsparagraph{
        grid-column: 2/4;
        grid-row:1;
    }
    .countryflagimgsearch{
        grid-column: 2/4;
        grid-row:1;
        height:35px;
        margin-top:45px;
        margin-left: 40%;
    }
    .searchresultsparagraphrecord{
        grid-column: 2/4;
        grid-row:2;
    }
    .errorpagemessage{
        grid-column: 2/7;
        grid-row:10/25;
        text-align: center;
    }
    .errorpagesearchtools{
        margin-top:auto;
    }
}

@media only screen and (min-width: 731px) {
    #searchFieldMobileDefault{
        width:350px;
    }
    .toFighterLink{
        font-size:14px; 
    }
    .last5gridLabel{
        font-size:14px;
    }
    .featuredfightersspace, .featuredfightsspace, .sevenlink a{
        font-size:14px;
    }
    .fighterinfostatsspaceHeader{
        font-size:14px;
    }
    body{
        font-size:16px;
    }
    /* .five, .six{
        font-size:14px;
    } */
    .five table, .six table{
        font-size:12px;
    }
    .popupmenu img {
        margin-top: -4%;
    }

    .one {
        line-height: 1;
    }

    .frontfaceimg {
        height: 170px;
        width:170px;
    }

    .one .polaroid {
        margin-top: -2%;
    }
    .cataloguefilters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .filtermenu {
        margin-left: 11%;
        margin-top: 40px;
    }

    .filterweightmenu {
        margin-left: 47%;
        margin-top: 40px;
    }

    .filtergendermenu {
        margin-left: 78%;
        margin-top: 40px;
    }
    .previousbuttonspace {
        grid-column: 2 / 4;
    }

    .nextbuttonspace {
        grid-column: 5 / 7;
    }
    .nextpreviousbutton {
        margin-top: 30%;
    }
    .searchspacesearchtools input{
        width:50%;
    }
    .searchresultsgridlink{
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 90px;
        grid-gap:0px;
    }
    .cataloguetablename{
        width:175px !important;
    }
}

@media only screen and (min-width: 700px) and (min-height:1000px) {
    .featuredfightersspace {
        margin-top: 0;
        grid-column: 2 / 11;
    }
    .featuredfightsspace {
        grid-column: 2 / 11;
    }
    #content {
        padding-top: 8%;
        margin-top:initial;
        grid-template-columns: repeat(11, 1fr);
    }

    .one {
        grid-column: 2/11;
        grid-row: 7/9;
    }

    .three {
        grid-column: 2/6;
        grid-row: 9/12;
        margin-top: 20px;
    }

    .four {
        grid-column: 7/11;
        grid-row: 9/12;
        margin-top: 20px;
    }

    .five {
        grid-column: 7/11;
        grid-row: 12/15;
    }

    .six {
        grid-column: 2/6;
        grid-row: 12/15;
    }
    .quotesspace{
        grid-column: 2/11;
        grid-row: 17;
        border-top:var(--bottom-border-size) outset var(--bottom-border-color);
    }
    .previousbuttonspace {
        grid-column: 3;
        grid-row: 8;
    }
    .footer{
        grid-column:1/12;
    }
    .nextbuttonspace {
        grid-column: 9;
        grid-row: 8;
    }
    .nextpreviousbutton {
        margin-top: 40%;
        margin-bottom: 2%;
        height: 100%;
        width: 50%;
        background: none;
        margin-top: 36%;
        margin-bottom: 2%;
        font-size:28px;
    }
    .cataloguefilters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .filtermenu {
        margin-left: 11%;
        margin-top: 40px;
    }

    .filterweightmenu {
        margin-left: 47%;
        margin-top: 40px;
    }

    .filtergendermenu {
        margin-left: 78%;
        margin-top: 40px;
    }

    .cataloguegrid {
        grid-gap: 15px;
        grid-auto-rows: 200px;
        padding-left: 5px;
        padding-right: 5px;
        font-size:14px;
    }
    .catalogueentry img {
        height: 130px;
        width: 130px;
    }
    .fighterinfogrid {
        margin-top:50px;
        grid-template-columns: repeat(12, 1fr);
    }
    .fighterinfoimagespace{
        grid-column: 3/11;
    }
    .fighterinforecordspace{
        grid-column: 3/11;
    }
    .fighterinfonamespace{
        grid-column: 3/11;
    }
    .fighterinfotextspace{
        grid-column: 1/13;
    }
    .tab1 {
        grid-column: 1/5;
    }
    .tab2 {
        grid-column: 5/9;
    }
    .tab3{
        grid-column: 9/13;
    }
    .fighterinfoimagespace img {
        height: 250px;
        width:250px;
    }
    .previousfighterbuttonspace {
        margin-top: 6%;
        grid-column:2/4;
    }

    .nextfighterbuttonspace {
        margin-top: 6%;
        grid-column:8/10;
    }

    .one .polaroid {
        line-height: 1;
    }

    .nextpreviousbutton {
        margin-top: 51%;
        margin-bottom: 2%;
    }

    .frontfaceimg {
        height: 220px;
    }

    .last5table {
        line-height: 1.5;
    }

    .resultbutton {
        height: 50px;
    }

    .seven {
        padding-top: 2%;
        padding-bottom: 5%;
    }
    .popupmenulinks{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows:55px;
    }
    .popupmenulink1{
        grid-column: 1;
        grid-row:1;
    }
    .popupmenulink2{
        grid-column: 1;
        grid-row:2;
    }
    .popupmenulink3{
        grid-column: 1;
        grid-row:3;
    }
    .popupmenulink4{
        grid-column: 1;
        grid-row:4;
        padding-top:25px;
    }
    .frontfaceimg {
        margin-left: -1%;
        margin-top: 1%;
    }
    .searchspacegrid{
        grid-column:3/10;
    }
    .searchresultsgrid{
        grid-column: 3/10;
    }
    /* .searchresultsgridchild{
        padding:5%;
    } */
    
}

@media only screen and (min-width: 1024px) {
    .errorpagemessage img{
        height:200px;
        width:270px;
    }
    .apipagegrid{
        margin-top:50px;
    }
    .onetitle{ 
        margin-left:1%;
    }
    .featuredfightersspaceone p, .featuredfightsspaceone p{
        font-size:20px;
    }
    .onetitle p{
        font-size:20px;
    }
    .onetitle span{
        font-size:14px;
    }
    .menuoptionlogo{
        height:20px;
        width:20px;
        margin-left:-5px;
        margin-top:-25px;
    }
    .searchresultsgridlink{
        margin-top:15px;
    }
    .mobilebar{
        display: none;
    }
    .statstable {
        font-size:14px;
    }
    .five table, .six table{
        font-size:14px;
    }
    .SearchResultsGrid{
        font-size:16px;
    }
    .fighterinfostatsspaceHeader{
        font-size:16px;
    }
    .fighterinfohistoryspacetable{
        font-size:16px;
    }
    #fighterInfoWins, #fighterInfoLosses, #fighterInfoDraws{
        font-size:18px;
    }
    .statslabelcell{
        font-size:14px;
    }
    .cataloguetable{
        font-size:16px;
    }
    .cataloguegrid{
        font-size:16px;
    }
    .cataloguebutton{
        font-size:24px;
    }
    .cataloguepagebuttons{
        font-size:20px;
    }
    .errordiv{
        padding-top:150px;
    }
    .mobileheader {
        display: none;
    }
    .widescreenmenubar{
        display:block;  
        background-color: var(--menu-color);
        top:0;
        position:fixed;
        width:100%;
        z-index:4;
        border-bottom: 1px ridge rgb(221, 221, 221);
    }
        .widescreenmenubar img{
            width:120px;
            height:50px;
            float:left;
            margin:0 auto;
            margin-left:20px;
        }
        .widescreenmenubar p{
            float:left;
            margin-left:20px;
        }
        .widescreenmenuinputs{
            float:left;
        }
        .widescreenmenubar input{
            margin-left:220px;
            width:300px;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 2px;
        }
        .widescreenmenubar button{
            background: none;
            border: none;
            color: var(--links-font-color);
        }
        .widescreenmenubar .pagename{
            color: var(--links-font-color);
        }
        .widescreenmenubar .aboutpagelink{
            color: var(--links-font-color);
        }
        .aboutpagelink a{
            color: var(--links-font-color);
            text-decoration: none;
            margin-left:100px;
        }
        .aboutpagelink a:visited{
            color: var(--links-font-color);
            text-decoration: none;
        }
        .widescreenslogan{
            font-style: italic;
            color:black;
            margin-left:150px;
        }
    .linkstopages{
        display:block;
        opacity: 0;
        background-color: var(--menu-color);
        top:52px;
        position:fixed;
        width:100%;
        z-index:4;
        /*border-bottom: 1px solid rgb(221, 221, 221);*/
        transition: opacity 0.5s ease-in-out;
    }    
    .linkstopages.open{
        opacity: 1;
    }
    .linkstopages p{
        float:left;
        margin-left:135px;
        display:none;
    }
    .linkstopages p.open{
        display:block;
    }
    .widescreenmenupagelinks a{
        margin-left:20px;
        color: var(--links-font-color);
    }

    .cataloguefilters {
        padding-top: 11%;
        margin-top:-10%;
        border-bottom:none;
    }
    .currentfilterselection{
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
        margin-left:40px;
    }
    .currentweightselection{
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
    }
    .currentgenederselection{
        border-bottom:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
        margin-right:40px;
    }
    .cataloguegrid {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 200px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .catalogueentry img {
        height: 130px;
        width: 130px;
    }

    .fighterinfostatsspace{
        grid-auto-rows: 25px;
        padding-top:10px;
    }

    .seven {
        padding-bottom: 8%;
    }

    #content {
        padding-top: 8%;
        margin-top:initial;
        grid-template-columns: repeat(11, 1fr);
    }

    .one {
        grid-column: 2/11;
        grid-row: 7/9;
    }

    .three {
        grid-column: 2/6;
        grid-row: 9/12;
        margin-top: 20px;
    }

    .four {
        grid-column: 7/11;
        grid-row: 9/12;
        margin-top: 20px;
    }

    .five {
        grid-column: 7/11;
        grid-row: 12/15;
    }

    .six {
        grid-column: 2/6;
        grid-row: 12/15;
    }
    .seven {
        grid-column: 1/12;
        grid-row: 16/17;
    }
    .quotesspace{
        grid-column: 2/11;
        grid-row: 17;
        border-top:var(--bottom-border-size) outset var(--bottom-border-color);
    }
    .quotesspace p{
        font-size:16px;
    }
    .previousbuttonspace {
        grid-column: 3;
        grid-row: 8;
    }
    .footer{
        grid-column:1/12;
    }
    .nextbuttonspace {
        grid-column: 9;
        grid-row: 8;
    }
    .nextpreviousbutton {
        margin-top: 40%;
        margin-bottom: 2%;
        height: 100%;
        width: 50%;
        background: none;
        margin-top: 36%;
        margin-bottom: 2%;
        font-size:28px;
    }

    .one .polaroid {
        line-height: 1;
    }

    .statslabelcell{
        width:35%;
    }

    .last5table {
        line-height: 1.5;
    }

    .frontfaceimg {
        height: 220px;
    }
    .resultbutton {
        height: 55px;
    }
    .pagedescription{
        margin-top:initial;
        padding-top:5%;
    }
    .fighterinfogrid {
        grid-template-columns: repeat(11, 1fr);
    }
    .fighterinfoimagespace {
        grid-column: 3/10;
        margin-top: 15%;
    }
    .fighterinfonamespace {
        grid-column: 3/10;
    }
    .fighterinfoimagespace img{
        width:300px;
        height:300px;
    }
    .fighterinforecordspace {
        grid-column: 4/9;
    }
    .fighterinfotextspace {
        grid-column: 2/11;
        padding-left:20px;
        padding-right:20px;
    }
    .fighthistorytablerow:hover{
        background-color: #ffffff;
    }
    .last5contentrow:hover{
        background-color: #ffffff;
    }
    .cataloguetablerow:hover{
        background-color: #ffffff;
    }
    .tab1 {
        grid-column: 2/5;
        margin-left:20px;
    }

    .tab2 {
        grid-column: 5/8;
    }

    .tab3 {
        grid-column: 8/11;
    }
    .previousfighterbuttonspace {
        grid-column: 3/5;
    }
    .nextfighterbuttonspace {
        grid-column: 7/9;
    }
    .featuredfightersspace {
        margin-top: 0;
        grid-column: 2 / 11;
    }
    .featuredfightsspace {
        grid-column: 2 / 11;
    }
    .frontfaceimg {
        margin-left: -0.5%;
        margin-top: 1%;
    }
    .searchspacegrid{
        grid-column:3/10;
    }
    .searchresultsgrid{
        grid-column: 3/10;
    }
    .searchresultsgridchild{
        padding:5%;
    }
    .errorpagemessage{
        grid-column: 4/9;
        grid-row:10/35;
        text-align: center;
    }
    .errorpagesearch{
        margin-top:75px;    
    }
    .errorpagesearchtools{
        margin-top:-15px;
    }
    .countryflagfightercard{
        height:20px;
    }
    .filtermenu {
        margin-left: 12%;
        margin-top: 35px;
    }
    .filterweightmenu {
        margin-left: 48%;
        margin-top: 35px;
    }

    .filtergendermenu {
        margin-left: 80%;
        margin-top: 35px;
    }
    .sevenlink{
        margin-left:1%;
    }
}

@media only screen and (min-width: 1250px) {
    .aboutpagelink a{
        margin-left:170px;
    }
    .widescreenmenubar input{
        width:400px;
    }
    .cataloguegrid {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 200px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .catalogueentry img {
        height: 130px;
        width: 130px;
    }
    .pagename {
        transition-duration: 0.5s;
    }
    .nextpreviousbutton {
        margin-top: 30%;
    }
    .last5table {
        line-height: 2;
    }
    .frontfaceimg {
        height: 270px;
    }
    .searchresultsgridlink{
        grid-template-columns: repeat(8, 1fr);
    }
    .filtermenu {
        margin-left: 15%;
    }
    .filtergendermenu {
        margin-left: 78%;
    }
}

@media only screen and (min-width: 1450px) {
    .aboutpagelink a{
        margin-left:200px;
    }
    .onetitle p{
        font-size:22px;
    }
    .onetitle span{
        font-size:16px;
    }
    .featuredfightersspaceone p, .featuredfightsspaceone p{
        font-size:22px;
    }
    #content {
        padding-top:5%;
    }
    .widescreenmenubar input{
        margin-left:250px;
        width:450px;
    }
    .featuredfightersspace, .featuredfightsspace, .sevenlink a{
        font-size:16px;
    }
    body{
        font-size:18px;
    }
    .statstable{
        font-size:16px;
    }
    .nextpreviousbutton {
        margin-top: 27%;
    }
    .one .polaroid {
        line-height: 1;
    }
    .resultbutton {
        height: 65px;
    }
    .filtermenu {
        margin-left: 15%;
        margin-top: 40px;
    }
    .filterweightmenu {
        margin-left: 48%;
        margin-top: 40px;
    }
    .filtergendermenu {
        margin-left: 80%;
        margin-top: 40px;
    }
    .one {
        grid-column: 3/10;
    }

    .three {
        grid-column: 3/6;
    }

    .four {
        grid-column: 7/10;
    }

    .five {
        grid-column: 7/10;
    }

    .six {
        grid-column: 3/6;
    }

    .seven {
        grid-column: 2/11;
    }

    .previousbuttonspace {
        grid-column: 4 / 5;
    }

    .nextbuttonspace {
        grid-column: 8/9;
        text-align:left;
    }
    .featuredfightersspace {
        grid-column: 3/10;
    }
    .featuredfightsspace {
        grid-column: 3/10;
    }
    .searchresultsgridchildimg img{
        height:180px;
        width:180px;
    }
    .searchresultsgridlink{
        margin-top:0px;
        grid-template-columns: repeat(9, 1fr);
    }
    .fightercardresultbox{
        width:25px;
        height:25px;
    }
}

@media only screen and (min-width: 1650px) {
    .apipagegrid{
        margin-top:80px;
    }
    .quotesspace{
        display: block;
        grid-column: 1/3;
        grid-row: 1/12;
        border-right:var(--bottom-border-size) var(--bottom-border-type) var(--bottom-border-color);
        border-top:none;
        font-style: italic;
        line-height: 1.5;
    }
    .quotesspace p{
        margin-top:45px;
    }
    .last5gridLabel{
        font-size:16px;
    }
    .toFighterLink{
        font-size: 16px; 
    }
    .widescreenmenubar input{
        margin-left:270px;
        width:500px;
        font-size:16px;
    }
    .widescreenmenubar button{
        font-size:16px;
    }
    .aboutpagelink a{
        margin-left:250px;
    }
    .nextpreviousbutton {
        margin-top: 24%;
        font-size:44px;
    }

    .widescreenmenulinks {
        width: 220px;
        margin-top: -1%;
    }

    .filterweightmenu {
        margin-left: 49%;
    }
    .currentfilterselection{
        margin-left:70px;
    }
    .currentgenederselection{
        margin-right:70px;
    }
    /* .fighterinfoimagespace img {
        height: 300px;
        width: 300px;
    } */
/* 
    .fighterinfoimagespace {
        grid-column: 4/8;
        margin-top: 15%;
    }

    .fighterinfonamespace {
        grid-column: 4/8;
    }

    .fighterinforecordspace {
        grid-column: 4/8;
    }

    .fighterinfotextspace {
        grid-column: 4/8;
    }

    .tab1 {
        grid-column: 4/5;
    }

    .tab2 {
        grid-column: 5/6;
    }

    .tab3 {
        grid-column: 6/7;
    } */

    .previousfighterbuttonspace {
        grid-column: 2/3;
        grid-row: 6;
    }

    .nextfighterbuttonspace {
        grid-column: 9/10;
        grid-row: 6;
    }
    .one {
        grid-column: 4/9;
    }

    .three {
        grid-column: 4/6;
    }

    .four {
        grid-column: 7/9;
    }

    .five {
        grid-column: 7/9;
    }

    .six {
        grid-column: 4/6;
    }

    .seven {
        grid-column: 4/9;
    }

    .previousbuttonspace {
        grid-column: 4 / 5;
    }

    .nextbuttonspace {
        grid-column: 8/9;
        text-align: left;
    }

    .featuredfightersspace {
        grid-column: 3/10;
    }

    .featuredfightsspace {
        grid-column: 3/10;
    }

    .featuredfightersspace {
        grid-column: 4/9;
    }

    .featuredfightsspace {
        grid-column: 4/9;
    }
    .frontfaceimg {
        height: 230px;
    }
    .cataloguetablerecord{
        width:175px;
    }
    .cataloguetablename{
        width:250px;
    }
    .countryflagfightercard{
        height:25px;
        vertical-align: middle;
    }
    .filtermenu {
        margin-left: 16%;
    }
    .filterweightmenu {
        margin-left: 49%;
    }
    .filtergendermenu {
        margin-left: 79%;
    }
    .seven {
        grid-row: 15;
    }
}

@media only screen and (min-width:1850px) {
    .countryflagimgsearch{
        margin-left: 43%;
        margin-top: 50px;
    }
    .widescreenmenubar input{
        margin-left:400px;
        width:600px;
    }
    .widescreenslogan{
        margin-left:205px;
    }
    /* .aboutpagelink a{
        margin-left:200px;
    } */
    .cataloguegrid {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 240px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .catalogueentry img {
        height: 160px;
        width: 160px;
    }
    .nextpreviousbutton {
        margin-top: 20%;
    }
    /* ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
        /*scrollbar-width: none; /* Firefox */
       /* -ms-overflow-style: none; /* IE 10+ */
    /*} */
    .frontfaceimg {
        height: 250px;
    }
    .errorpagesearchtools input{
        width:50%;
        align-self: center;
    }
    /* .logo {
        height: 150px;
        width: 170px;
    } */
    .currentfilterselection{
        margin-left:180px;
    }
    .currentgenederselection{
        margin-right:180px;
    }
    .fighterinfotextspace{
        grid-column: 2/11;
        font-size:16px;
    }
    /* .tab1{
        grid-column: 3/5;
    }
    .tab2{
        grid-column: 5/7;
    }
    .tab3{
        grid-column: 7/9;
    } */
    .fighterinfogrid {
        grid-template-columns: repeat(13, 1fr);
    }
    .fighterinfoimagespace {
        grid-column: 4/11;
    }
    .fighterinfonamespace {
        grid-column: 4/11;
    }
    .fighterinforecordspace {
        grid-column: 5/10;
    }
    .fighterinfotextspace {
        grid-column: 3/12;
    }
    .tab1 {
        grid-column: 3/6;
        margin-left:20px;
    }

    .tab2 {
        grid-column: 6/9;
    }

    .tab3 {
        grid-column: 9/12;
    }
    .filtermenu {
        margin-left: 19%;
    }

    .filtergendermenu {
        margin-left: 77%;
    }
}

@media only screen and (min-width: 1900px) {

}