<html lang="en">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>API</title> <!--load fighter name here-->
		<link rel="stylesheet" href="/css/fightencyclopediacss.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/js/scripts.js"></script> 
    </head>
    <body onload="start()" onclick="closemenus()">
        <div id="backgroundwrapper">
            <header id="pageLayout"></header>
        </div>
        <div class="apipagegrid">
            <div class="instructionsheader">
                <h2><i class="fa fa-book"></i> Instructions & Info</h2>
            </div>
            <div class="instructionstext">
                <h3>What is this page?</h3>
                <p>From this page, you can learn how to scrape the database and make your own applications and websites. It was not easy to put this database together as I could not use the internet as a scraping resource so there are some charges involved.</p>
            </div>
            <div class="instructionsrequirements">
                <h3>Getting the API</h3>
                <p class="instructionsrequirementslogo">
                    <img src="img/Githublogo.png"/>
                </p>
                <h4>Step 1</h4>
                <p>Find the github repo <a href="https://google.ie">here</a>.</p>
                <p>Do something</p>
            </div>
            <div class="instructionsdonate">
                <p><img src="img/paypal.jpg"/></p>
                <button>Donate</button>

            </div>
            <div class="instructionsdonateimg">
                <h3>Donate</h3>
                <p>Donations are much appreciated!</p>
            </div>
            <div class="instructionslicensing">
                <h3>Licensing</h3>
                <p>You may NOT sell any data obtained from this site to any party.</p>
            </div>
        </div>

    </body>
</html>