<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
        <link rel="stylesheet" href="/css/fightencyclopediacss.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <script src="/js/scripts.js"></script> 
	</head>
<body onload="start()" onclick="closemenus()">
    <div id="backgroundwrapper">
        <header id="pageLayout">
        </header>
    </div>
        <div id="content">
            <div class="loadinggifspace"id="catalogueLoadingGif">
                <p><img src='/img/loading.gif' /></p>
            </div>
            <div class="quotesspace" id="quotesSpace">
                <h4>Quotes of the day</h4>
                <!-- <p>“I hated every minute of training, but I said, ‘Don’t quit. Suffer now and live the rest of your life as a champion’.” -Muhammad Ali</p>
                <p>“If you work hard in training, the fight is easy." -Manny Pacquiao</p> 
                <p>"Fear is like fire. You can make it work for you; it can warm you in the winter, cook your food when you're hungry, give you light when you're
                     in the dark and produce energy. Let it go out of control and it can hurt you, even kill you…fear is a friend of exceptional people.“-Cus D'Amato</p> -->
            </div>
            <div class="featuredfightersspace">
                <div class="featuredfightersspaceone" id="FeaturedFightersSpaceOne">
                    <p>Boxers - <span class="countspan">Count: <span id="BoxersCount"></span></span></p>
                    <span>See the current collection of boxers. </span></span>
                    <button class="expandpanelbutton" onclick="expandPanel(this.id)" id="ExpandPanelButton">-</button>
                </div>
                <div class="featuredfightersspacetwo">
                    <div class="featuredfighterimages" id="FeaturedFighterImages">
                    </div>
                </div>
                <div class="featuredfightersspacethree">
                    <div class="cataloguelink"><a href="/fightercatalogue">See full Catalogue &#8658;</a></div>
                </div>
            </div>
            <div class="featuredfightsspace">
                <div class="featuredfightsspaceone" id="FeaturedFightsSpaceOne">
                    <p>Historical Fights - <span class="countspan">Count: <span id="FightsCount">0</span></span></p>
                    <span>See the current collection of fights. </span>
                    <button class="expandpanelbutton" onclick="expandPanel(this.id)" id="ExpandPanelButton2">-</button>
                </div>
                <div class="featuredfightsspacetwo">
                    <div class="featuredfighterimages">
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                    </div>
                </div>
                <div class="featuredfightsspacethree">
                    <div class="cataloguelink"><a href="/fightercatalogue">See full Catalogue &#8658;</a></div>
                </div>
            </div>
            <div class="previousbuttonspace" id="Previous">
                <a class="nextpreviousbutton" id="previousButton" onclick="previousFight()">&#8656;</a>
            </div>
            <div class="nextbuttonspace" id="Next">
                <a class="nextpreviousbutton" id="nextButton" onclick="nextFight()">&#8658;</a>
            </div>
            <div class="one">
                <div class="onetitle">
                    <p>Upcoming Fights</p>
                    <span>See a schedule of upcoming fights</span>
                    <button class="expandpanelbutton" onclick="expandUpcomingFights(this.id)" id="ExpandPanelButton3">-</button>
                </div>
                <div class="polaroid" id="Polaroid">
                    <!-- <h2>Upcoming fights</h2> -->
                    <h3 id="upComingFightName"></h3>
                    <p id="upComingFightDivision"></p>
                    <p id="upComingFightLocation"></p>
                    <p id="upComingFightDate"></p>
                </div>
            </div>
            <div class="three" id="Three">
                    <a id="fighterbuttonAFull" class="fighterbuttonimageFull" ><img src="" class="frontfaceimg" alt="fighterA" id="fighterAImage"/></a>
                    <div class="fightername"><a id="fighterALink"><p id="fighterAName"></p></a><table class="fighterrecord"><tr><td id="fighterAInfoWins"></td><td id="fighterAInfoLosses"></td><td id="fighterAInfoDraws"></td></tr></table></div>
                    <table class="statstable">
                        <tr><td class="statslabelcell">Height </td><td><span id="fighterAHeight"></span></td></tr>
                        <tr><td class="statslabelcell">Reach </td><td><span id="fighterAReach"></span></td></tr>
                        <tr><td class="statslabelcell">Stance </td><td><span id="fighterAStance"></span></td></tr>
                        <tr><td class="statslabelcell">Nationality </td><td><span id="fighterANationality"></span></td></tr>
                    </table>
            </div>
            <div class="four" id="Four">
                    <a id="fighterbuttonBFull" class="fighterbuttonimageFull"><img src="" class="frontfaceimg" id="fighterBImage"/></a>
                    <div class="fightername"><a id="fighterBLink"><p id="fighterBName"></p></a><table class="fighterrecord"><tr><td id="fighterBInfoWins"></td><td id="fighterBInfoLosses"></td><td id="fighterBInfoDraws"></td></tr></table></div>
                    <table class="statstable">
                        <tr><td class="statslabelcell">Height </td><td><span id="fighterBHeight"></span></td></tr>
                        <tr><td class="statslabelcell">Reach </td><td><span id="fighterBReach"></span></td></tr>
                        <tr><td class="statslabelcell">Stance </td><td><span id="fighterBStance"></span></td></tr>
                        <tr><td class="statslabelcell">Nationality </td><td><span id="fighterBNationality"></span></td></tr>
                    </table>                
            </div>
            <div class="five" id="Five">
                <div class="last5gridLabel">Recent performances</div>
                <table class="fighterinfohistoryspacetable" id="Last5TableB">
                    <tr class="fighterinfohistoryspacetableheaderrow">
                        <td class="last5headercell" id="last5DateColumnB"><i>Date</i></td><td class="last5headercell"><i>Opponent</i></td><td class="last5headercell"><i>Result</i></td>
                    </tr>
                </table>
                <br/>
                <a id="toFighterLinkB" class="toFighterLink">See full record, stats & more...</a>
            </div>
            <div class="six" id="Six">
                <div class="last5gridLabel">Recent performances</div>
                <table class="fighterinfohistoryspacetable" id="Last5TableA">
                    <tr class="fighterinfohistoryspacetableheaderrow">
                        <td class="last5headercell" id="last5DateColumnA"><i>Date</i></td><td class="last5headercell"><i>Opponent</i></td><td class="last5headercell"><i>Result</i></td>
                    </tr>
                </table>
                <br/>
                <a id="toFighterLinkA"class="toFighterLink">See full record, stats & more...</a>
            </div>
            <div class="seven">
                <div class="onetitle">
                    <p>Boxing API</p>
                    <span>Make your own boxing based applications</span>
                </div>
                <div class="sevenlink">
                    <a href="/API">More info &#8658;</a>
                </div>
            </div>
            <div class="footer" id="footer">
                 <p>The Fight Encycolpedia &trade; - 2020</p> 
            </div> 
        </div>		
</body>	
</html>
	