<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
        <link rel="stylesheet" href="/css/fightencyclopediacss.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <script src="/js/scripts.js"></script> 
	</head>
<body onload="start()" onclick="closemenus()">
    <div id="backgroundwrapper">
        <header id="pageLayout">
        </header>
    </div>
        <div id="content">
            <div class="quotesspace" id="quotesSpace">
                <h4>Quotes of the day</h4>
                <!-- <p>“I hated every minute of training, but I said, ‘Don’t quit. Suffer now and live the rest of your life as a champion’.” -Muhammad Ali</p>
                <p>“If you work hard in training, the fight is easy." -Manny Pacquiao</p> 
                <p>"Fear is like fire. You can make it work for you; it can warm you in the winter, cook your food when you're hungry, give you light when you're
                     in the dark and produce energy. Let it go out of control and it can hurt you, even kill you…fear is a friend of exceptional people.“-Cus D'Amato</p> -->
            </div>
            <div class="featuredfightersspace">
                <div class="featuredfightersspaceone">
                    <p>Random collection/category of 5 fighters here</p>
                </div>
                <div class="featuredfightersspacetwo">
                    <div class="featuredfighterimages" id="FeaturedFighterImages">
                    </div>
                </div>
                <div class="featuredfightersspacethree">
                    <div class="cataloguelink"><a href="/fightercatalogue">See full Catalogue &#8658;</a></div>
                </div>
            </div>
            <div class="featuredfightsspace">
                <div class="featuredfightsspaceone">
                    <p>Random collection/category of 5 fights here</p>
                </div>
                <div class="featuredfightsspacetwo">
                    <div class="featuredfighterimages">
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                        <img src="img/placeholderring.jpg" class="featuredfighterimg" alt="fighterB" />
                    </div>
                </div>
                <div class="featuredfightsspacethree">
                    <div class="cataloguelink"><a asp-area="" asp-page="/FightCatalogue">See full Catalogue &#8658;</a></div>
                </div>
            </div>
            <div class="previousbuttonspace">
                <button class="nextpreviousbutton" id="previousButton" onclick="previousFight()">&#8656;</button>
            </div>
            <div class="nextbuttonspace">
                <button class="nextpreviousbutton" id="nextButton" onclick="nextFight()">&#8658;</button>
            </div>
            <div class="one">
                <div class="polaroid">
                    <h2>Upcoming fights</h2>
                    <h3 id="upComingFightName"></h3>
                    <p id="upComingFightDivision"></p>
                    <p id="upComingFightLocation"></p>
                    <p id="upComingFightDate"></p>
                </div>
            </div>
            <div class="three">
                    <a id="fighterbuttonAFull" class="fighterbuttonimageFull" ><img src="" class="frontfaceimg" alt="fighterA" id="fighterAImage"/></a>
                    <div class="fightername"><a id="fighterALink"><p id="fighterAName"></p></a><table class="fighterrecord"><tr><td id="fighterAInfoWins"></td><td id="fighterAInfoLosses"></td><td id="fighterAInfoDraws"></td></tr></table></div>
                    <table class="statstable">
                        <tr><td class="statslabelcell">Age </td><td><span id="fighterAAge"></span></td></tr>
                        <tr><td class="statslabelcell">Height </td><td><span id="fighterAHeight"></span></td></tr>
                        <tr><td class="statslabelcell">Reach </td><td><span id="fighterAReach"></span></td></tr>
                        <tr><td class="statslabelcell">Nationality </td><td><span id="fighterANationality"></span></td></tr>
                    </table>
            </div>
            <div class="four">
                    <a id="fighterbuttonBFull" class="fighterbuttonimageFull"><img src="" class="frontfaceimg" id="fighterBImage"/></a>
                    <div class="fightername"><a id="fighterBLink"><p id="fighterBName"></p></a><table class="fighterrecord"><tr><td id="fighterBInfoWins"></td><td id="fighterBInfoLosses"></td><td id="fighterBInfoDraws"></td></tr></table></div>
                    <table class="statstable">
                        <tr><td class="statslabelcell">Age </td><td><span id="fighterBAge"></span></td></tr>
                        <tr><td class="statslabelcell">Height </td><td><span id="fighterBHeight"></span></td></tr>
                        <tr><td class="statslabelcell">Reach </td><td><span id="fighterBReach"></span></td></tr>
                        <tr><td class="statslabelcell">Nationality </td><td><span id="fighterBNationality"></span></td></tr>
                    </table>                
            </div>
            <div class="five">
                <div class="last5gridLabel">Recent performances</div>
                <table class="fighterinfohistoryspacetable" id="Last5TableB">
                    <tr class="fighterinfohistoryspacetableheaderrow">
                        <td class="last5headercell" id="last5DateColumnB"><i>Date</i></td><td class="last5headercell"><i>Opponent</i></td><td class="last5headercell"><i>Result</i></td>
                    </tr>
                </table>
                <br/>
                <a onclick="navigateToFighterCard(fighterBName)" class="toFighterLink">See full record, stats & more...</a>
            </div>
            <div class="six">
                <div class="last5gridLabel">Recent performances</div>
                <table class="fighterinfohistoryspacetable" id="Last5TableA">
                    <tr class="fighterinfohistoryspacetableheaderrow">
                        <td class="last5headercell" id="last5DateColumnA"><i>Date</i></td><td class="last5headercell"><i>Opponent</i></td><td class="last5headercell"><i>Result</i></td>
                    </tr>
                </table>
                <br/>
                <a onclick="navigateToFighterCard(fighterAName)" class="toFighterLink">See full record, stats & more...</a>
            </div>
            <div class="footer" id="footer">
                 <p>The Fight Encycolpedia &trade; - 2020</p> 
            </div> 
        </div>		
</body>	
</html>
	