<html lang="en">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Search Results</title> <!--load fighter name here-->
		<link rel="stylesheet" href="/css/fightencyclopediacss.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/js/scripts.js"></script> 
    </head>
    <body onload="start()" onclick="closemenus()">
        <div id="backgroundwrapper">
            <header id="pageLayout"></header>
        </div>
        <div id="content">
            <div class="searchspacegrid">
                <div class="searchspacesearchtools">
                    <input type="text" id="searchField" placeholder="&#128269; Search" />
                    <button type="submit" id="searchButton" onclick="search(this.id)" style="display: none;"><i class="fa fa-search"></i></button>
                </div>
                <div class="searchspacemessage">
                    <p>Search Results</p><p><span id="SearchTerm"><%= searchTerm %></span></p>
                </div>
            </div>

            <div class="searchresultsgrid" id="SearchResultsGrid">
                <div class="loadinggifspace"id="catalogueLoadingGif">
                    <p><img src='/img/loading.gif' /></p>
                </div>
            </div>
        </div>

    </body>
</html>