<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/fightencyclopediacss.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src="/js/scripts.js"></script> 
</head>
<body>
    <div id="backgroundwrapper">
        <header id="pageLayout">
        </header>
    </div>
    <div id="content">
        <div class="errorpagemessage">
            <p>Somethings gone wrong on our end, try reload in 5/10 minutes</p>
        </div>
    </div>

</body>
</html>